.pokemon_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: darkgrey;
  padding: 0px;
  margin: 0px;
}

#pokemon_img {
  background-color: white;
  margin: 10px;
}

#pokemon_name {
  margin: 0px;
}

#pokemon_id {
  margin: 0px;
}

#pokemon_description {
  margin: 10px 0px;
}
