
<!--The *ngFor directive is another structural directive.
This directive allows you to render an element and
all of its contents several times.

Note that the Polkaman Card component is now a child component of our Home Page component. This means that we now have to think about how to pass state from the parent component to the child component.

In order to pass a property down to a child component,
we can use a property binding syntax. Note that the
p inside of the [] corresponds to an existing property
on the child component. The value we assign to it is the loop variable's value.

Note that we've also added an event emitter to the
child component here. When an event occurs on the
child component, we pass its value up to the parent
component for use there.-->
<app-polkaman-card *ngFor="let polka of polkamans.results" [p]="polka" (polkamanUpdateEvent)="submitPolkaman($event)"></app-polkaman-card>

<div class="container">
    <form>
        <input [(ngModel)]="polkamans.results[0].polkaman_image" name="polka_image" placeholder="image" type="url"/>
        <input [(ngModel)]="polkamans.results[0].polkaman_name" name="polka_name" placeholder="name" type="text"/>
        <input [(ngModel)]="polkamans.results[0].polkaman_id" name="polka_id" placeholder="0" type="number"/>
        <input [(ngModel)]="polkamans.results[0].polkaman_description" name="polka_description" placeholder="description" type="text"/>
        <input type="button" value="Submit New Polkaman">
    </form>
</div>
