
body 
{
    background-color: #060025;
    color: aliceblue;
    font-family: cursive;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

table
{
    text-align: center;
    font-size: 80px;
    vertical-align: top;
}

h1
{
    font-size: 80px;
}

