<!-- this tag is responsible for enabling routing for the angular app -->
<router-outlet></router-outlet>


<!-- 
  In-Class Activity: 

  Given this 1-hour period, create two components and establish the routing to those components:
  - TEST: I should be able to navigate between the two views. 
          Note that I'm not saying that the pages have to have content for users to interact with.
  1) Login component - for users to log into app
    - NOTE: Component to remain blank - just generate the component and do the routing to this component
  2) Welcome component - homepage 
    - NOTE: Component to remain blank - just generate the component and do the routing to this component

  Note: no CSS styling is required - MVP is functionality.

  Instructions:
  - Discuss algorithm (aka approach of how you want to achieve MVP)
  - Work together as a cohort (everybody does have to participate for attendance) to solve this prompt.
 -->